@model IEnumerable<BulkyBook.Models.HealthcareDoctor>

@{
    ViewData["Title"] = "Doctor's List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var branchId = ViewData["branchId"];
    var healthcareId = ViewData["healthcareId"];
}

<h1>Index</h1>

<p>
    <a asp-action="Upsert" asp-route-BranchId="@branchId">Create New Doctor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthcareBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthcareBranch.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality.Name)
            </td>
            <td>
                <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        <tr>
            <td>
                <a asp-controller="HealthcareBranch" asp-action="Index" asp-route-HealthcareId="@healthcareId" class="btn btn-primary">Back to Branch List</a>
            </td>
        </tr>
    </tbody>
</table>
